/* Existing CSS code */

#blog {
  display: flex;
  justify-content: left;
  /* align-items: last baseline; */
  flex-direction: column;
  padding: 40px;
  color: black;
  background-color: #ffffff;
}
.btn1 .blog-title{
  color:white;
}
span{
 font-family: Libre Baskerville;
    font-size: 27px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    color: #c59d5f;
    margin-top: 5px
}

.blog-heading {
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: black;
}

.underline {
  width: 930px;
  height: 0px;
  border: 1px solid #f2cca5;
  /* margin: 0 auto; */
  line-height: 120px;
  margin-bottom: 10px;
}

.blog-heading h3 {
  font-size: 5.4rem;
  color: rgb(5, 4, 4);
  font-weight: 600;
  padding-bottom: 5px;
  font-family: 'Inter';
  justify-content: left;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  gap: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.blog-box {
   width: 110%;
  background-color: #ffffff;
  margin: 80px;
  justify-content: center;
  gap: 300px;
}

.blog-img {
  width: 108%;
  height: 430px;
}

.blog-img img {
  width: 120%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.blog-title {
 
  font-size: 22px;
    line-height: 1.2em;
    font-weight: 700;
}

.blog-title h5 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  height:40px;
  width:20px;
}

.blog-text .blog-title {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(250, 243, 243);
  font-family: 'Inter';
}
.blog-title {
  text-align: center; }

.blog-title h5 {
  font-size: 30px; 
}
a{
  color:white;
}
.blog-text p {
  color: #000000;
  font-family: 'Inter';
  font-style: initial;
  line-gap-override:14px;
  font-weight: 280;
  font-size: 18px;
  vertical-align:baseline;
  line-height: 20px;
}

.blog-text a {
  color: #0f0f0f;
}
.btn1 a{
    color:white;
}
.btn1 {
  background-color: #efbc89; /* Change to your desired color */
  color: #ffffff; /* Change to your desired color */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}

.btn1:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s;
  background-color: black;
}

/* Media Query */

@media only screen and (max-width: 768px) {
  .blog-container {
    flex-wrap: wrap;
  }

  .blog-box {
    width: 108%;
    margin: 20px 0;
  }

  .btn1 {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .blog-box {
    flex-basis: 100%;
  }
}